/*     margin-bottom: 4px; */
  }
  .left-text1{
    display: none;
  }
  .search-icon {
    left: 39px;
  }
  .buttons-set-2{
    position: relative;
    left: 17.5px;
}
  ul.footer-center{
    display: none;
   }
  ul.footer-right{
    position: relative;
    right: -120px;
    }
}
/* small-moblie-version */
@media(max-width: 320px){
  .search-bar{
    width: 260px;
    position: relative;
    left: -3px;
  }
  .main-nav{
    padding: 15px 0px;
  }
  .nav-right{
    position: relative;
    left: -28px;
  }
  .mic-icon{
    position: relative;
    left: -38.5px;
  }
  .search-icon {
    position: relative;
